@page "/clusters/{id:guid}"
@inject ISnackbar Snackbar

<PageHeader Title="@ClusterName"
            Description="Show the nodes and related status for your kubernetes clusters."
            BreadcrumbItems="BreadcrumbItems">
    <PageHeaderActions>
        <EditButton Disabled="@IsLoading" Href="@($"/clusters/{@Id}/edit")" />
        <DeleteButton Disabled="@IsLoading" OnClick="Delete" />
    </PageHeaderActions>
</PageHeader>

<MudGrid>
    @if (IsLoading)
    {
        <MudItem xs="12" md="6">
            <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" Height="476px" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" Height="476px" />
        </MudItem>
    }
    else {
        @foreach (var node in Nodes)
        {
            <MudItem xs="12" md="6">
                <MudCard Outlined="true">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">@node.Name</MudText>
                            <MudText Typo="Typo.caption">@string.Join(", ", node.IPAddresses)</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudStack Row="true" Class="my-2">
                                @foreach(var role in node.Roles) {
                                    <RoleChip Role="@role" />
                                }
                                <StatusChip Text="@GetReadyValue(node)"
                                            Tooltip="@GetConditionToolTip(node, "Ready")"
                                            Color="@GetConditionColor(node, "Ready")" />
                            </MudStack>
                        </CardHeaderActions>
                    </MudCardHeader>
                    <MudCardContent Class="pt-0">
                        <MudStack Row="true" Justify="Justify.FlexStart">
                            <StatusChip Text="Network"
                                        Tooltip="@GetConditionToolTip(node, "NetworkUnavailable")"
                                        Color="@GetConditionColor(node, "NetworkUnavailable")" 
                                        IsLight="true" />

                            <StatusChip Text="Memory"
                                        Tooltip="@GetConditionToolTip(node, "MemoryPressure")"
                                        Color="@GetConditionColor(node, "MemoryPressure")"
                                        IsLight="true" />

                            <StatusChip Text="Disk"
                                        Tooltip="@GetConditionToolTip(node, "DiskPressure")"
                                        Color="@GetConditionColor(node, "DiskPressure")"
                                        IsLight="true" />

                            <StatusChip Text="PIDs"
                                        Tooltip="@GetConditionToolTip(node, "PIDPressure")"
                                        Color="@GetConditionColor(node, "PIDPressure")"
                                        IsLight="true" />
                        </MudStack>

                        <MudSimpleTable Dense="true" Elevation="0" Class="mt-4">
                            <tbody>
                                <tr>
                                    <td>Architecture</td>
                                    <td>@node.Architecture</td>
                                </tr>
                                <tr>
                                    <td>Boot ID</td>
                                    <td>@node.BootID</td>
                                </tr>
                                <tr>
                                    <td>ContainerRuntime Version</td>
                                    <td>@node.ContainerRuntimeVersion</td>
                                </tr>
                                <tr>
                                    <td>Kernel Version</td>
                                    <td>@node.KernelVersion</td>
                                </tr>
                                <tr>
                                    <td>KubeProxy Version</td>
                                    <td>@node.KubeProxyVersion</td>
                                </tr>
                                <tr>
                                    <td>Kubelet Version</td>
                                    <td>@node.KubeletVersion</td>
                                </tr>
                                <tr>
                                    <td>Machine ID</td>
                                    <td>@node.MachineID</td>
                                </tr>
                                <tr>
                                    <td>Operating System</td>
                                    <td>@node.OperatingSystem</td>
                                </tr>
                                <tr>
                                    <td>OS Image</td>
                                    <td>@node.OsImage</td>
                                </tr>
                                <tr>
                                    <td>System UUID</td>
                                    <td>@node.SystemUUID</td>
                                </tr>
                            </tbody>
                        </MudSimpleTable>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        }
    }
</MudGrid>