@page "/clusters"
@inject ISnackbar Snackbar

<UseClustersQuery Skip="@Skip"
                  Take="@PageSize"
                  Order="@GetSortInput()"
                  Where="@GetFilterInput()"
                  Context="result">
    <ChildContent>
        <K8PageHeader Title="Clusters"
                    Description="Manage the connections with your kubernetes clusters."
                    BreadcrumbItems="BreadcrumbItems">
            <PageHeaderActions>
                <K8AddButton Href="/clusters/create">Add a cluster</K8AddButton>
            </PageHeaderActions>
        </K8PageHeader>

        <MudCard Outlined="true">
            <MudCardHeader>
                <MudSpacer />
                <div style="width: 300px">
                    <MudTextField Margin="Margin.Dense"
                                  Label="Search"
                                  Variant="Variant.Outlined"
                                  DebounceInterval="500"
                                  OnDebounceIntervalElapsed="OnSearch"
                                  Adornment="Adornment.End"
                                  AdornmentIcon="@Icons.Material.TwoTone.Search"
                                  AdornmentColor="Color.Primary"
                                  Clearable="true"
                                  T="string" />
                </div>
            </MudCardHeader>
            <MudCardContent>
                <MudTable Items="@result.Clusters!.Items"
                          Elevation="0"
                          Dense="true">
                    <HeaderContent>
                        <MudTh>
                            <MudTableSortLabel @bind-SortDirection="@SortServerName.Direction"
                                               T="IClustersQuery_Clusters_Items">
                                Name
                            </MudTableSortLabel>
                        </MudTh>
                        <MudTh>
                            <MudTableSortLabel @bind-SortDirection="@SortServerAddress.Direction"
                                               T="IClustersQuery_Clusters_Items">
                                Address
                            </MudTableSortLabel>
                        </MudTh>
                        <MudTh>Status</MudTh>
                        <MudTh></MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd>@context.ServerName</MudTd>
                        <MudTd>@context.ServerAddress</MudTd>
                        <MudTd>
                            <!--
                            <StatusChip Color="@(context.IsOperative ? Color.Success : Color.Error)"
                                        Text="@(context.IsOperative ? "Operative" : "Not operative")" />
                                        -->
                        </MudTd>
                        <MudTd Style="text-align:right">
                            <MudIconButton Icon="@Icons.Material.TwoTone.FileOpen" Href="@($"/clusters/{context.Id}")"></MudIconButton>
                            <MudIconButton Icon="@Icons.Material.TwoTone.Edit" Href="@($"/clusters/{context.Id}/edit")"></MudIconButton>
                        </MudTd>
                    </RowTemplate>
                </MudTable>
            </MudCardContent>
            <MudCardActions>
                <div class="d-flex mx-2" style="max-width:100px">
                    <MudSelect @bind-Value="PageSize"
                               Margin="Margin.Dense"
                               Dense="true"
                               Variant="Variant.Outlined"
                               Label="Page size">
                        <MudSelectItem Value="@(10)" />
                        <MudSelectItem Value="@(25)" />
                        <MudSelectItem Value="@(50)" />
                    </MudSelect>
                </div>
                <MudSpacer />
                <MudPagination @bind-Selected="@CurrentPage"
                               Rectangular="true"
                               Color="Color.Primary"
                               DisableElevation="true"
                               Count="@GetPageCount(result.Clusters!.TotalCount)"
                               ShowFirstButton="true"
                               ShowLastButton="true" />
            </MudCardActions>
        </MudCard>
    </ChildContent>
    <ErrorContent>
        <K8ErrorMessage Errors="@result" />
    </ErrorContent>
</UseClustersQuery>
